.content--container {
    padding: 1.75rem 1.25rem;

    &:nth-of-type(3) {
        .text--illustration--container {
            .content--text--container {
                .content--link {
                    background: rgb(132,243,183);
                }
            }
        }

        .content--testimonial--container {
            background: rgb(132,243,183);
        }
    }

    &:nth-of-type(4) {
        .text--illustration--container {
            .content--text--container {
                .content--link {
                    background: #3F65FD;
                    color: #fff;
                }
            }
        }

        .content--testimonial--container {
            background: #3F65FD;
            color: #fff;
        }
    }

    .text--illustration--container {
        .content--text--container {
            .content--heading {
                font-size: calc(32px + 28 * (100vw - 320px)/ 279);
                font-family: Volkhov, sans-serif;
                font-weight: 400;
                margin-bottom: .5rem;
            }

            .content--description {
                font-size: calc(16px + 14 * (100vw - 320px)/ 279);
                font-family: gotham-book-web;
            }

            .content--link {
                font-size: calc(16px + 14 * (100vw - 320px) / 279);
                font-family: gotham-medium-web;
                color: rgb(0,0,0);
                background: rgb(255,198,153);
                border-radius: 20px;
                border: 2px solid #000;
                text-decoration: none;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 48px;
                width: 100%;
                margin: 2rem 0;
            }

            .content--features--container {
                display: flex;
                flex-direction: column;
                gap: 2.5rem;

                .content--feature {
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;

                    .content--feature--img {
                        width: 88px;
                        margin-bottom: .5rem;
                    }

                    .content--feature--heading {
                        font-size: calc(16px + 14 * (100vw - 320px)/ 279);
                        font-family: gotham-medium-web;
                        font-weight: 500;
                    }

                    .content--feature--desc {
                        font-size: calc(14px + 12 * (100vw - 320px)/ 279);
                        font-family: gotham-book-web;
                    }
                }
            }
        }

        .content--illustration {
            margin: 2.5rem 0;
        }
    }

    .content--testimonial--container {
        padding: 2rem 1rem;
        border: 2px solid #000;
        border-radius: 20px;
        background: rgb(255,198,153);

        .content--testimonial--desc {
            font-size: calc(16px + 14 * (100vw - 320px)/ 279);
            font-family: gotham-book-web;
        }

        .avatar--reviewer--container {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;

            .testimonial--avatar--container {
                display: flex;
                align-items: center;
                gap: 1rem;

                .testimonial--avatar {
                    width: 40px;
                    height: 40px;
                }

                .testimonial--name {
                    font-size: calc(14px + 12 * (100vw - 320px)/ 279);
                    font-family: gotham-medium-web;
                    font-weight: 500;
                }
            }

            .testimonial--img--container {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .content--container {
        .text--illustration--container {
            .content--text--container {
                .content--heading {
                    font-size: calc(40px + 28 * (100vw - 600px)/ 423);
                }

                .content--description {
                    font-size: calc(16px + 11 * (100vw - 600px)/ 423);
                }

                .content--link {
                    font-size: calc(16px + 11 * (100vw - 600px) / 423);
                }

                .content--features--container {
                    flex-direction: row;
                    justify-content: space-between;

                    .content--feature {
                        width: 50%;

                        .content--feature--heading {
                            font-size: calc(16px + 11 * (100vw - 600px)/ 423);
                        }
    
                        .content--feature--desc {
                            font-size: calc(14px + 10 * (100vw - 600px)/ 423);
                        }
                    }
                }
            }
        }

        .content--testimonial--container {
            padding: 2rem;

            .content--testimonial--desc {
                font-size: calc(16px + 11 * (100vw - 600px)/ 423);
            }
    
            .avatar--reviewer--container {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: unset;

                .testimonial--avatar--container {
                    .testimonial--name {
                        font-size: calc(14px + 10 * (100vw - 600px)/ 423);
                    }
                }
    
                .testimonial--img--container {
                    display: unset;

                    .testimonial--reviewer {
                        width: 95px;
                    }

                    .testimonial--stars {
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .content--container {
        padding: 2rem 3.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .content--container {
        padding: 4rem 3.5rem;

        .text--illustration--container {
            .content--text--container {
                .content--link {
                    transition: .2s;

                    &:hover {
                        background: rgb(245, 181, 131);
                        transition: .2s;
                    }
                }
            }
        }

        &:nth-of-type(3) {
            .text--illustration--container {
                .content--text--container {
                    .content--link {
                        background: rgb(132,243,183);
                        transition: .2s;

                        &:hover {
                            background: rgb(91, 235, 158);
                            transition: .2s;
                        }
                    }
                }
            }
    
            .content--testimonial--container {
                background: rgb(132,243,183);
            }
        }
    
        &:nth-of-type(4) {
            .text--illustration--container {
                .content--text--container {
                    .content--link {
                        background: #3F65FD;
                        color: #fff;
                        transition: .2s;

                        &:hover {
                            background: rgb(51, 90, 248);
                            transition: .2s;
                        }
                    }
                }
            }
    
            .content--testimonial--container {
                background: #3F65FD;
                color: #fff;
            }
        }

        .text--illustration--container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            .content--text--container {
                width: 50%;

                .content--heading {
                    font-size: 3rem;
                }

                .content--description {
                    font-size: 1rem;
                }

                .content--link {
                    font-size: 1rem;
                }

                .content--features--container {
                    flex-direction: row;
                    justify-content: space-between;

                    .content--feature {
                        width: 50%;

                        .content--feature--heading {
                            font-size: 1.125rem;
                        }
    
                        .content--feature--desc {
                            font-size: 1rem;
                        }
                    }
                }
            }

            .content--illustration {
                width: 50%;
                margin: unset;
            }
        }

        .content--testimonial--container {
            margin-top: 2rem;

            .content--testimonial--desc {
                font-size: 1rem;
            }
    
            .avatar--reviewer--container {
                .testimonial--avatar--container {
                    .testimonial--name {
                        font-size: .875rem;
                    }
                }
    
                .testimonial--img--container {
                    display: flex;
                    align-items: baseline;
                    gap: 1rem;

                    .testimonial--reviewer {
                        width: 95px;
                    }

                    .testimonial--stars {
                        display: unset;
                        width: 110px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    .content--container {
        padding: 4.5rem 4.5rem;
    }
}

@media screen and (min-width: 1366px) {
    .content--container {
        padding: 5rem 4.5rem;

        .text--illustration--container {
            .content--text--container {
                width: 50%;

                .content--heading {
                    font-size: 4rem;
                }

                .content--description {
                    font-size: 1.125rem;
                }

                .content--link {
                    font-size: 1.125rem;
                }

                .content--features--container {
                    .content--feature {
                        width: 50%;

                        .content--feature--heading {
                            font-size: 1.25rem;
                        }
    
                        .content--feature--desc {
                            font-size: 1.125rem;
                        }
                    }
                }
            }

            .content--illustration {
                width: 50%;
                margin: unset;
            }
        }

        .content--testimonial--container {
            margin-top: unset;

            .content--testimonial--desc {
                font-size: 1.125rem;
            }
    
            .avatar--reviewer--container {
                .testimonial--avatar--container {
                    .testimonial--name {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    .content--container {
        padding: 5.5rem 4.5rem;
        max-width: 1600px;
        margin: auto;
    }
}