.cta--container {
    margin: 1.75rem 0 1rem 0;
    padding: 1.75rem 1.25rem;
    text-align: center;

    .shape {
        display: none;
    }

    .cta--heading {
        font-size: calc(32px + 28 * (100vw - 320px)/ 279);
        font-family: Volkhov, sans-serif;
        font-weight: 400;
    }

    .cta--link {
        color: #000;
        font-size: calc(16px + 14 * (100vw - 320px) / 279);
        font-family: gotham-medium-web;
        background: rgb(250,224,83);
        border-radius: 20px;
        border: 2px solid #000;
        height: 56px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 100%;
        margin: 3rem 0 1rem 0;
    }

    .cta--p {
        color: #7f7f7f;
        font-size: calc(14px + 12 * (100vw - 320px)/ 279);
        font-family: gotham-book-web;
    }
}

@media screen and (min-width: 600px) {
    .cta--container {
        .cta--heading {
            font-size: calc(40px + 28 * (100vw - 600px)/ 423);
        }

        .cta--link {
            font-size: calc(16px + 11 * (100vw - 600px) / 423);
            width: 340px;
            margin: 2rem 0 1rem 0;
        }

        .cta--p {
            font-size: calc(14px + 10 * (100vw - 600px)/ 423);
        }
    }
}

@media screen and (min-width: 768px) {
    .cta--container {
        padding: 1.75rem 3.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .cta--container {
        padding: 3.5rem;
        margin: 2rem 3.5rem;
        border: 2px solid #000;
        border-radius: 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: unset;
        position: relative;

        .shape {
            display: unset;
            position: absolute;
            width: 52px;
            right: 1.75rem;
            bottom: 1.5rem;

            &:nth-of-type(2) {
                bottom: unset;
                right: -1.25rem;
                margin-top: -1.25rem;
                width: 73px;
                height: 42px;
            }
        }

        .cta--subcontainer {
            text-align: center;
        }

        .cta--heading {
            font-size: calc(9px + 31 * (100vw - 320px)/ 1046);
            width: 50%;
        }
        
        .cta--link {
            font-size: calc(4px + 12 * (100vw - 320px) / 1046);
            height: 48px;
            margin: 0 0 1rem 0;
        }

        .cta--p {
            font-size: calc(3px + 11 * (100vw - 320px)/ 1046);
        }
    }
}

@media screen and (min-width: 1280px) {
    .cta--container {
        margin: 3.5rem 4.5rem;
    }
}

@media screen and (min-width: 1366px) {
    .cta--container {
        .cta--heading {
            font-size: 2.5rem;
        }

        .cta--link {
            font-size: 1rem;
            height: 64px;
        }

        .cta--p {
            font-size: .875rem;
        }
    }
}