.cta--container {
    margin: 1.75rem 0 1rem 0;
    padding: 1.75rem 1.25rem;
    text-align: center;

    .cta--heading {
        font-size: calc(32px + 28 * (100vw - 320px)/ 279);
        font-family: Volkhov, sans-serif;
        font-weight: 400;
    }

    .cta--link {
        color: #000;
        font-size: calc(16px + 14 * (100vw - 320px) / 279);
        font-family: gotham-medium-web;
        background: rgb(250,224,83);
        border-radius: 20px;
        border: 2px solid #000;
        height: 56px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 100%;
        margin: 3rem 0 1rem 0;
    }

    .cta--p {
        color: #7f7f7f;
        font-size: calc(14px + 12 * (100vw - 320px)/ 279);
        font-family: gotham-book-web;
    }
}

@media screen and (min-width: 600px) {
    .cta--container {
        .cta--heading {
            font-size: calc(40px + 28 * (100vw - 600px)/ 423);
        }

        .cta--link {
            font-size: calc(16px + 11 * (100vw - 600px) / 423);
            width: 340px;
            margin: 2rem 0 1rem 0;
        }

        .cta--p {
            font-size: calc(14px + 10 * (100vw - 600px)/ 423);
        }
    }
}