footer {
    padding: 4rem 1.25rem 2rem 1.25rem;
    background: #000;

    .footer--logo--link {
        height: fit-content;
        display: flex;
    }

    .footer--logo {
        height: 34px;
        width: auto;
    }

    .footer--nav--ul {
        list-style-type: none;
        margin-top: 1rem;

        li {
            padding: .5rem 0;

            span {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                color: #979797;
                font-size: 1rem;
                line-height: 1.5rem;
                font-family: gotham-medium-web;
                font-weight: 500;

                img {
                    transition: .2s;

                    &.rotate--img {
                        transform: rotate(90deg);
                        transition: .2s;
                    }
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                list-style-type: none;
                position: relative;
                margin-top: .75rem;
                max-height: 0;
                opacity: 0;
                overflow: hidden;
                visibility: hidden;
                transition: .3s, max-height .3s, opacity .2s;


                &.show {
                    opacity: 1;
                    visibility: visible;
                    max-height: 500px;
                    transition: .3s, max-height .3s, opacity .4s;

                }

                a {
                    font-family: gotham-book-web;
                    font-size: .875rem;
                    color: #fff;
                    text-decoration: none;
                }
            }
        }

    }
    
    .search--socials--container {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        form {
            display: flex;
            position: relative;

            .search--button {
                width: 18px;
                height: 18px;
                border: none;
                background: none;
                position: absolute;
                right: .625rem;
                top: .625rem;
                cursor: pointer;
                z-index: 10;
            }

            input {
                width: 100%;
                border: 1px solid #cacaca;
                font-size: 14px;
                padding: 8px 16px;
                line-height: 20px;
                border-radius: 3px;
                background: #000;
                color: #fff;
            }
        }

        .socials--download--container {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .socials--ul {
                list-style-type: none;
                display: flex;
                justify-content: space-between;
            }

            .download--container {
                display: flex;
                justify-content: center;
                gap: .5rem;

                img {
                    // height: 38px;
                    width: auto;
                }
            }
        }
    }

    .language--copyright--ul {
        display: flex;
        flex-direction: column;

        .footer--separator {
            border-top: 1px solid #2d3a48;
            margin-top: 2rem;
        }

        li {
            padding: .5rem 0;

            a {
                text-decoration: none;
                color: #fff;
                font-family: gotham-book-web;
                font-size: .875rem;
            }

            &:nth-of-type(1) {
                order: 1;
                margin: 2rem auto 0 auto;

                .languages--button {
                    border: none;
                    background: none;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    gap: .75rem;
                    font-size: 1.125rem;
                    font-family: gotham-medium-web;
                }
            }
        }
    }
}

@media screen and (min-width: 576px) {
    footer {
        .search--socials--container {
            .socials--download--container {
                align-items: flex-start;

                .socials--ul {
                    justify-content: unset;
                    gap: 1.5rem;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    footer {
        padding: 4rem 3.5rem 2rem 3.5rem;

        .footer--logo {
            min-height: 34px;
            min-width: 114.03px;
        }

        
        .footer--nav--ul {
            margin-top: unset;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 2rem;

            li {
                padding: unset;
                max-width: 20%;

                span {
                    img {
                        display: none;
                    }
                }

                ul {
                    max-height: unset;
                    opacity: unset;
                    visibility: unset;

                    li {
                        padding: .5rem 0;
                    }
                }
            }
        }

        .logo--nav--container {
            display: flex;
            gap: 2rem;
        }

        .search--socials--container {
            flex-direction: row;
            align-items: flex-end;
            justify-content: flex-end;
            
            .socials--download--container {
                align-items: flex-start;

                .socials--ul {
                    justify-content: unset;
                    gap: 1.5rem;
                }

                .download--container {
                    a {
                        display: flex;
                    }
                }
            }
        }

        .language--copyright--ul {
            flex-direction: row-reverse;
            gap: 1rem;

            .footer--separator {
                &:nth-of-type(1) {
                    display: none;
                }
            }

            p {
                color: #919eaa;
                font-family: gotham-book-web;
                font-size: .875rem;
            }

            li {
                &:nth-of-type(1) {
                    margin: unset;
                    margin-right: auto;
                }
            }
        }

        .tablet {
            border-top: 1px solid #2d3a48;
            margin-top: 3rem;
            margin-bottom: 2rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    footer {
        .footer--nav--ul {
            justify-content: unset;

            li {
                max-width: 16%;
            }
        }

        a {
            transition: .2s;

            &:hover {
                color: #919eab !important;
                transition: .2s;
            }

            &.languages--button {
                &:hover {
                    color: #fff !important;
                }
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    footer {
        padding: 4rem 4.5rem 2rem 4.5rem;

        .footer--nav--ul {
            justify-content: flex-start;
            gap: 2rem;

            li {
                max-width: 235px;
                min-width: 200px;
                width: 200px;
            }
        }

    }
}

@media screen and (min-width: 1600px) {
    .big-width-footer {
        background: #000;
        
        footer {
            max-width: 1600px;
            margin: auto;
        }
    }
}

.languages--container {
    max-height: 0px;
    overflow: hidden;
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1.25rem;
    // box-shadow: -100px 200px 0 100px #f1f1f1, 100px 100px 0 100px #f1f1f1;

    div {
        padding: 1.25rem 0;
        width: 50%;
        display: inline-flex;
        align-items: center;
        vertical-align: middle;
    }

    &.opened {
        max-height: 1200px;
    }

    a {
        font-size: .875rem;
        line-height: 1.125rem;
        color: #333;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: .75rem;

        .flag {
            display: inline-block;
            min-width: 22px;
            min-height: 22px;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background: url("../images/flags/flags.png");
            background-size: auto 100%;

            &.argentina {
                background-position: -286px 0;
            }

            &.finland {
                background-position: -858px 0;
            }

            &.japan {
                background-position: -638px 0;
            }

            &.peru {
                background-position: -374px 0;
            }

            &.sweden {
                background-position: -836px 0;
            }

            &.brazil {
                background-position: -88px 0;
            }

            &.france {
                background-position: -44px 0;
            }

            &.korea {
                background-position: -308px 0;
            }

            &.philippines {
                background-position: -572px 0;
            }

            &.thailand {
                background-position: -506px 0;
            }

            &.bulgaria {
                background-position: -770px 0;
            }

            &.germany {
                background-position: -22px 0;
            }

            &.latvia {
                background-position: -902px 0;
            }

            &.poland {
                background-position: -616px 0;
            }

            &.turkey {
                background-position: -418px 0;
            }

            &.china {
                background-position: -682px 0;
            }

            &.greece {
                background-position: -814px 0;
            }

            &.lithuania {
                background-position: -924px 0;
            }

            &.portugal {
                background-position: -176px 0;
            }

            &.usa {
                background-position: -242px 0;
            }

            &.colombia {
                background-position: -462px 0;
            }

            &.hungary {
                background-position: -66px 0;
            }

            &.mexico {
                background-position: -352px 0;
            }

            &.romania {
                background-position: -198px 0;
            }

            &.venezuela {
                background-position: -440px 0;
            }

            &.czech {
                background-position: -330px 0;
            }

            &.india {
                background-position: -726px 0;
            }

            &.netherlands {
                background-position: -132px 0;
            }

            &.slovakia {
                background-position: -946px 0;
            }

            &.uae {
                background-position: -880px 0;
            }

            &.denmark {
                background-position: -792px 0;
            }

            &.indonesia {
                background-position: -484px 0;
            }

            &.norway {
                background-position: -154px 0;
            }

            &.spain {
                background-position: -264px 0;
            }

            &.egypt {
                background-position: -748px 0;
            }

            &.italy {
                background-position: -110px 0;
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .languages--container {
        div {
            width: 33.33333%;
        }
    }
}

@media screen and (min-width: 768px) {
    .languages--container {
        padding: 0 3.5rem;

        div {
            width: 25%;
        }
    }
}

@media screen and (min-width: 1024px) {
    .languages--container {
        justify-content: flex-start;

        div {
            width: 20%;

            a {
                transition: .2s;

                &:hover {
                    color: #369fe0;
                    transition: .2s;
                }
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    .languages--container {
        padding: 0 4.5rem;
    }
}

@media screen and (min-width: 1600px) {
    .languages--big--container {
        background: #f1f1f1;
    }

    .languages--container {
        max-width: 1600px;
        margin: auto;
    }
}