header {
    padding: 1rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 99;

    .header--logo {
        width: 98px;
        height: 30px;
    }

    button {
        width: 24px;
        height: 24px;
        position: relative;
        background: none;
        border: none;

        .button--inner--div {
            width: 24px;
            height: 2px;
            background: #0a0c0f;
            border-radius: 4px;
            transition: .1s;

            &::before, &::after {
                content: "";
                width: 24px;
                height: 2px;
                background: #0a0c0f;
                border-radius: 4px;
                position: absolute;
                transition: .1s;
            }

            &::before {
                top: .175rem;
                left: 0;
            }

            &::after {
                bottom: .175rem;
                left: 0;
            }

            &.open {
                &::before {
                    opacity: 0;
                    transition: .1s;
                }

                transform: translate3d(0,0,0) rotate(45deg);
                transition: .1s;

                &::after {
                    transform: translate3d(0, 3px,0) rotate(-90deg);
                    transition: .1s;
                }
            }
        }
    }

    .header--nav {
        width: 100%;

        .header--nav--ul {
            background: #fff;
            list-style-type: none;
            padding-bottom: 3rem;
            margin-top: 3.9rem;
            display: flex;
            flex-direction: column;
            opacity: 0;
            visibility: hidden;
            position: fixed;
            width: 100%;
            top: 0;
            left: 50rem;
            bottom: 0;
            transition: .2s, left .4s;
            
            &.show {
                overflow: scroll;
                opacity: 1;
                visibility: visible;
                left: 0;
                transition: .2s, left .3s;
            }

            li {
                padding: 0;
                position: relative;

                span {
                    display: inline-block;
                    position: relative;
                    font-weight: 600;
                    width: 100%;
                    padding: 8px 1.25rem;
                    transition: .2s;

                    &.open {
                        background: #f7f7f7;
                        color: #666;
                        transition: .2s;

                        &::after {
                            transform: rotate(90deg);
                            top: 0;
                            right: 1.35rem;
                            transition: .2s;
                        }
                    }

                    &::after {
                        content: '›';
                        position: absolute;
                        right: 1.35rem;
                        font-size: 26px;
                        top: -3px;
                        transition: .2s;
                    }
                }

                a {
                    font-weight: 600;
                    text-decoration: none;
                    color: #0a0c0f;
                }

                .pricing--link {
                    padding-left: 1.25rem;
                }

                &.pricing--li {
                    padding: .5rem 0;
                    display: flex;

                    a {
                        width: 100%;
                    }
                }

                &.get--started--li, &.login--li {
                    text-align: center;

                    &.login--li {
                        display: flex;

                        a {
                            width: 100%;
                        }
                    }

                    &.get--started--li {
                        margin: 3rem 1.25rem 1rem 1.25rem;
                        font-size: 1.125rem;
                        line-height: 1.5rem;
                        
                        a {
                            display: inline-block;
                            padding: 14px 0 13px 0;
                            width: 100%;
                            font-weight: 700;
                            background: #000;
                            border: 2px solid #000;
                            border-radius: 6px;
                            color: #fff;
                        }
                    }
                }
            }

            .dropdown {
                list-style-type: none;
                padding: .5rem 0 .5rem 3.25rem;
                position: relative;
                left: -10rem;
                opacity: 0;
                max-height: 0;
                overflow: hidden;
                transition: .3s, max-height .3s, opacity .2s;
                visibility: hidden;

                li {
                    padding: .5rem 0;
                }

                &.show {
                    display: flex;
                    flex-direction: column;
                    left: 0;
                    opacity: 1;
                    max-height: 500px;
                    transition: .3s, max-height .3s, opacity .6s;
                    visibility: visible;
                }

                a {
                    font-weight: 400;
                    display: flex;
                    align-items: center;

                    .window--icon {
                        stroke: #9c9c9c;
                        margin-left: 8px;
                    }
                }
            }
        }
    }
}