.header--container {
    position: sticky;
    top: 0;
    transition: .2s;
    overflow-x: clip;
    background: #fff;
    
    &.sticky {
        box-shadow: 0 0 10px rgba(0,0,0,.1);
        transition: .2s;
    }
}

header {
    padding: 1rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 99;
    transition: .2s;


    .header--logo--link {
        display: flex;
    }

    .header--logo {
        min-width: 98px;
        min-height: 30px;
    }

    button {
        width: 24px;
        height: 24px;
        position: relative;
        background: none;
        border: none;
        user-select: all;
        pointer-events: all;

        .button--inner--div {
            width: 24px;
            height: 2px;
            background: #0a0c0f;
            border-radius: 4px;
            transition: .1s;

            &::before, &::after {
                content: "";
                width: 24px;
                height: 2px;
                background: #0a0c0f;
                border-radius: 4px;
                position: absolute;
                transition: .1s;
                left: 0;
            }
            
            &::before {
                top: .175rem;
            }

            &::after {
                bottom: .175rem;
            }

            &.open {
                &::before {
                    opacity: 0;
                    transition: .1s;
                }

                transform: translate3d(0,0,0) rotate(45deg);
                transition: .1s;

                &::after {
                    transform: translate3d(0, 3px,0) rotate(-90deg);
                    transition: .1s;
                }
            }
        }
    }

    .header--nav {
        width: 100%;

        .header--nav--ul {
            background: #fff;
            list-style-type: none;
            padding-bottom: 3rem;
            margin-top: 3.9rem;
            display: flex;
            flex-direction: column;
            opacity: 0;
            visibility: hidden;
            position: fixed;
            width: 100%;
            top: 0;
            left: 50rem;
            bottom: 0;
            transition: .2s, left .4s;
            
            &.show {
                overflow: scroll;
                opacity: 1;
                visibility: visible;
                left: 0;
                transition: .2s, left .3s;
                user-select: unset;
                pointer-events: all;
            }

            li {
                padding: 0;
                position: relative;

                span {
                    display: inline-block;
                    position: relative;
                    font-weight: 600;
                    width: 100%;
                    padding: 8px 1.25rem;
                    transition: .2s;
                    font-family: gotham-book-web;


                    &.open {
                        background: #f7f7f7;
                        color: #666;
                        transition: .2s;

                        &::after {
                            transform: rotate(90deg);
                            top: 0;
                            right: 1.35rem;
                            transition: .2s;
                        }
                    }

                    &::after {
                        content: '›';
                        position: absolute;
                        right: 1.35rem;
                        font-size: 26px;
                        top: -3px;
                        transition: .2s;
                    }
                }

                a {
                    font-weight: 600;
                    text-decoration: none;
                    color: #0a0c0f;
                    font-family: gotham-book-web;
                }

                .pricing--link {
                    padding-left: 1.25rem;
                }

                &.pricing--li, &.login--li {
                    padding: .5rem 0;
                    display: flex;

                    a {
                        width: 100%;
                    }
                }

                &.get--started--li, &.login--li {
                    text-align: center;

                    &.get--started--li {
                        margin: 3rem 1.25rem 1rem 1.25rem;
                        font-size: 1.125rem;
                        line-height: 1.5rem;
                        font-family: gotham-medium;
                        font-weight: 600;
                        
                        a {
                            display: inline-block;
                            padding: 14px 0 13px 0;
                            width: 100%;
                            font-weight: 700;
                            background: #000;
                            border: 2px solid #000;
                            border-radius: 6px;
                            color: #fff;
                        }
                    }
                }
            }

            .dropdown {
                list-style-type: none;
                padding: .5rem 0 .5rem 3.25rem;
                position: relative;
                left: -10rem;
                opacity: 0;
                max-height: 0;
                overflow: hidden;
                transition: .3s, max-height .3s, opacity .2s;
                visibility: hidden;

                li {
                    padding: .5rem 0;
                }

                &.show {
                    display: flex;
                    flex-direction: column;
                    left: 0;
                    opacity: 1;
                    max-height: 500px;
                    transition: .3s, max-height .3s, opacity .6s;
                    visibility: visible;
                }

                a {
                    font-weight: 400;
                    display: flex;
                    align-items: center;

                    .window--icon {
                        stroke: #9c9c9c;
                        margin-left: 8px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 425px) {
    .click--outside {
        &.close {
            width: 100vw;
            height: 1000vh;
            background: transparent;
            position: absolute;
            z-index: 98;
            user-select: all !important;
            pointer-events: all !important;
        }
    }

    header {
        button {
            z-index: 99;
        }

        .header--nav {
            .header--nav--ul {
                left: unset;
                right: -50rem;
                transition: .2s, right .4s;
                margin-top: unset;
                padding-top: 3.9rem;
                width: 376px;
                
                &.show {
                    left: unset;
                    right: 0;
                    transition: .2s, right .3s;
                }
            }
        }

        .overlay {
            height: 100vh;
            left: 0;
            pointer-events: none;
            position: absolute;
            top: 0;
            overflow: hidden;
            user-select: none;
            width: 100vw;
            z-index: -999;
            visibility: hidden;
            opacity: 0;
            transition: .2s;

            &.overlay--open {
                opacity: 1;
                visibility: visible;
                background: rgba(0,0,0,.6);
                transition: .2s;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    header {
        padding: 1rem 3.5rem;
        flex-wrap: nowrap;
        gap: 2rem;

        button {
            order: 2;
        }

        .header--nav {
            .header--nav--ul {
                width: 350px;

                li {
                    span {
                        padding: 8px 3.5rem;

                        &::after {
                            right: 3.625rem;
                        }

                        &.open {
                            &::after {
                                right: 3.625rem;
                            }
                        }
                    }

                    &.pricing--li {
                        padding-left: 2.25rem;
                    }

                    &.get--started--li {
                        margin: 3rem 3.5rem 1rem 3.5rem !important;
                    }
                }

                .dropdown {
                    padding: .5rem 0 .5rem 5.25rem;
                }
            }

            .nav768-1280--ul {
                list-style-type: none;
                display: flex;
                align-items: center;
                gap: 2rem;
                font-family: gotham-book-web;

                .get--started--li2 {
                    margin-left: auto;

                    a {
                        font-size: .875rem;
                        font-family: gotham-medium-web;
                    }
                }

                a {
                    text-decoration: none;
                    color: #0a0c0f;
                    font-weight: 600;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    header {
        button {
            cursor: pointer;
        }

        .header--nav {
            .header--nav--ul {
                li {
                    span {
                        cursor: pointer;

                        &:hover {
                            color: #666;
                        }
                    }

                    a {
                        transition: .2s;

                        &:hover {
                            color: #666;
                            transition: .2s;
                        }
                    }

                    &.get--started--li {
                        a:hover {
                            transform: translateY(-4px);
                        }
                    }
                }
            }
            
            .nav768-1280--ul {
                a {
                    transition: .2s;

                    &:hover {
                        color: #666;
                        transition: .2s;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    header {
        padding: 1rem 4.5rem;
        justify-content: space-between;

        .header--logo {
            min-width: 106px;
            height: 32px;
        }

        button {
            display: none;
        }

        .header--nav {
            .header--nav--ul {
                position: unset; opacity: unset; visibility: unset; width: unset; padding: unset;
                flex-direction: row;
                align-items: center;
                gap: 2rem;

                li {
                    padding: unset; margin: unset;

                    &.get--started--li, &.pricing--li, &.login--li {
                        margin: unset !important;
                        padding: unset;

                        &.login--li {
                            order: 3;
                        }

                        &.get--started--li {
                            order: 4;
                            line-height: unset;

                            a {
                                padding: 6px 14px !important;
                                font-size: .875rem;
                                font-family: gotham-medium-web;
                                font-weight: 500;
                            }
                        }
                    }

                    &:nth-child(4) {
                        margin-left: auto;
                    }

                    a {
                        margin: unset; padding: unset; 
                        padding-left: unset !important;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    header {
        max-width: 1600px;
        margin: auto;
    }
}