.hero--section {
    padding: 3rem 1.25rem;
    text-align: center;

    .hero--heading {
        font-size: calc(40px + 35 * (100vw - 320px)/ 279);
        font-family: Volkhov, sans-serif;
        font-weight: 400;
        color: #333;
        padding-bottom: 1rem;
    }

    .hero--description {
        font-size: calc(16px + 14 * (100vw - 320px)/ 279);
        font-family: gotham-book-web;
        line-height: 1.55;
        color: #000;
        padding-bottom: 1.5rem;
    }

    .hero--link {
        display: inline-block;
        font-size: calc(16px + 14 * (100vw - 320px) / 279);
        font-family: gotham-medium-web;
        color: rgb(0,0,0);
        background: rgb(250,224,83);
        border-radius: 20px;
        border: 2px solid #000;
        text-decoration: none;
        padding: 15px;
        width: 100%;
        margin-bottom: 1rem;
    }

    .hero--small {
        font-family: gotham-book-web;
        font-size: calc(14px + 12 * (100vw - 320px)/ 279);
        color: #666;
        padding-bottom: 1.5rem;
    }

    .hero--ratings--container {
        padding-top: 3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;

        .hero--rating {
            &:nth-of-type(3) {
                display: none;
            }

            &:nth-of-type(4) {
                .reviewer {
                    width: 68px;
                }
            }

            .reviewer {
                width: 97px;
                height: 24px;
                margin-bottom: .5rem;
            }

            .reviewer--opinion {
                font-size: calc(14px + 12 * (100vw - 320px)/ 279);
                font-family: gotham-book-web;
                color: #666;
            }
        }
    }
}

@media screen and (min-width: 500px) {
    .hero--section {
        .hero--ratings--container {
            gap: 4rem;

            .hero--rating {
                &:nth-of-type(4) {
                    .reviewer {
                        width: 140px;
                        height: auto;
                    }
                }

                .reviewer {
                    width: 180px;
                    height: 44px;
                }
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .hero--section {
        padding: 4rem 3.5rem;


        .hero--heading {
            font-size: calc(56px + 39 * (100vw - 600px)/ 423);
        }

        .hero--description {
            font-size: calc(16px + 11 * (100vw - 600px)/ 423);
        }

        .hero--link {
            font-size: calc(16px + 11 * (100vw - 600px) / 423);
            width: 350px;
        }

        .hero--small {
            font-size: calc(14px + 10 * (100vw - 600px)/ 423);
        }

        .hero--illustration {
            width: 90%;
        }

        .hero--ratings--container {
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;

            .hero--rating {
                width: 25%;
                height: 90px;
                
                &:nth-of-type(4), &:nth-of-type(3) {
                    display: unset;

                    .reviewer {
                        width: 75px;
                    }
                }

                .reviewer {
                    width: 100px;
                    height: auto;
                }

                .reviewer--opinion {
                    font-size: calc(14px + 10 * (100vw - 600px)/ 423);
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .hero--section {
        padding: 5rem 3.5rem;

        .hero--heading {
            font-size: calc(15px + 49 * (100vw - 320px)/ 1046);
            max-width: 900px;
            color: #000;
            margin: auto;
        }

        .hero--description {
            font-size: calc(4px + 12 * (100vw - 320px)/ 1046);
            max-width: 600px;
            margin: auto;
        }

        .hero--link {
            font-size: calc(4px + 12 * (100vw - 320px) / 1046);
            background: #068854;
            color: rgb(255,255,255);
            width: 250px;
            transition: .2s;

            &:hover {
                background: rgb(6,148,91);
                color: rgb(254,251,251);
                transition: .2s;
            }
        }

        .hero--small {
            font-size: calc(3px + 11 * (100vw - 320px)/ 1046);
        }

        .hero--illustration {
            width: 50%;
            margin-bottom: 2rem;
        }
        
        .hero--ratings--container {
            .hero--rating {
                .reviewer--opinion {
                    font-size: calc(3px + 11 * (100vw - 320px)/ 1046);
                }
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    .hero--section {
        padding: 5rem 4.5rem;
    }
}

@media screen and (min-width: 1366px) {
    .hero--section {
        .hero--heading {
            font-size: 4rem;
            margin-top: 1rem;
        }

        .hero--description {
            font-size: 1rem;
        }

        .hero--link {
            font-size: 1rem;
            width: 300px;
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto 1rem auto;
        }

        .hero--small {
            font-size: .875rem;
        }

        .hero--ratings--container {
            .hero--rating {
                .reviewer--opinion {
                    font-size: .875rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    .hero--section {
        max-width: 1600px;
        margin: auto;
    }
}