@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: gotham-bold-web;
    src: url(../style/fonts/Gotham-Bold_Web.woff2);
}

@font-face {
    font-family: gotham-book-web;
    src: url(../style/fonts/Gotham-Book_Web.woff2);
}

@font-face {
    font-family: gotham-book;
    src: url(../style/fonts/Gotham-Book.woff2);
}

@font-face {
    font-family: gotham-medium-web;
    src: url(../style/fonts/Gotham-Medium_Web.woff2);
}

@font-face {
    font-family: gotham-medium;
    src: url(../style/fonts/Gotham-Medium.woff2);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100%;
    font-family: Open Sans, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    user-select: none;
}

@import "./components/header";
@import "./components/hero";    
@import "./components/content";
@import "./components/world";
@import "./components/link";
@import "./components/cta";
@import "./components/footer";