@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  font-family: gotham-bold-web;
  src: url(../style/fonts/Gotham-Bold_Web.woff2);
}
@font-face {
  font-family: gotham-book-web;
  src: url(../style/fonts/Gotham-Book_Web.woff2);
}
@font-face {
  font-family: gotham-book;
  src: url(../style/fonts/Gotham-Book.woff2);
}
@font-face {
  font-family: gotham-medium-web;
  src: url(../style/fonts/Gotham-Medium_Web.woff2);
}
@font-face {
  font-family: gotham-medium;
  src: url(../style/fonts/Gotham-Medium.woff2);
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, small {
  line-height: 1.5;
}

button:focus, a:focus, input:focus {
  outline-offset: 0.5rem;
}

body {
  width: 100%;
  min-height: 100%;
  font-family: Open Sans, sans-serif;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header--container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  transition: 0.2s;
  overflow-x: clip;
  background: #fff;
  z-index: 99;
}
.header--container.sticky {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

header {
  padding: 1rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: 99;
  transition: 0.2s;
}
header .header--logo--link {
  display: flex;
}
header .header--logo {
  min-width: 98px;
  min-height: 30px;
}
header button {
  width: 24px;
  height: 24px;
  position: relative;
  background: none;
  border: none;
  -webkit-user-select: all;
     -moz-user-select: all;
          user-select: all;
  pointer-events: all;
}
header button .button--inner--div {
  width: 24px;
  height: 2px;
  background: #0a0c0f;
  border-radius: 4px;
  transition: 0.1s;
}
header button .button--inner--div::before, header button .button--inner--div::after {
  content: "";
  width: 24px;
  height: 2px;
  background: #0a0c0f;
  border-radius: 4px;
  position: absolute;
  transition: 0.1s;
  left: 0;
}
header button .button--inner--div::before {
  top: 0.175rem;
}
header button .button--inner--div::after {
  bottom: 0.175rem;
}
header button .button--inner--div.open {
  transform: translate3d(0, 0, 0) rotate(45deg);
  transition: 0.1s;
}
header button .button--inner--div.open::before {
  opacity: 0;
  transition: 0.1s;
}
header button .button--inner--div.open::after {
  transform: translate3d(0, 3px, 0) rotate(-90deg);
  transition: 0.1s;
}
header .header--nav {
  width: 100%;
}
header .header--nav .header--nav--ul {
  background: #fff;
  list-style-type: none;
  padding-bottom: 3rem;
  margin-top: 3.9rem;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  left: 50rem;
  bottom: 0;
  transition: 0.2s, left 0.4s;
}
header .header--nav .header--nav--ul.show {
  overflow: scroll;
  opacity: 1;
  visibility: visible;
  left: 0;
  transition: 0.2s, left 0.3s;
  -webkit-user-select: unset;
     -moz-user-select: unset;
      -ms-user-select: unset;
          user-select: unset;
  pointer-events: all;
}
header .header--nav .header--nav--ul li {
  padding: 0;
  position: relative;
}
header .header--nav .header--nav--ul li .header--subbtn {
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 600;
  width: 100%;
  padding: 8px 1.25rem;
  transition: 0.2s;
  font-family: gotham-book-web;
  font-size: inherit;
}
header .header--nav .header--nav--ul li .header--subbtn.open {
  background: #f7f7f7;
  color: #666;
  transition: 0.2s;
}
header .header--nav .header--nav--ul li .header--subbtn.open::after {
  transform: rotate(90deg);
  top: -3px;
  right: 1.35rem;
  transition: 0.2s;
}
header .header--nav .header--nav--ul li .header--subbtn::after {
  content: "›";
  position: absolute;
  right: 1.35rem;
  font-size: 26px;
  top: -5px;
  transition: 0.2s;
}
header .header--nav .header--nav--ul li a {
  font-weight: 600;
  text-decoration: none;
  color: #0a0c0f;
  font-family: gotham-book-web;
}
header .header--nav .header--nav--ul li .pricing--link {
  padding-left: 1.25rem;
}
header .header--nav .header--nav--ul li.pricing--li, header .header--nav .header--nav--ul li.login--li {
  padding: 0.5rem 0;
  display: flex;
}
header .header--nav .header--nav--ul li.pricing--li a, header .header--nav .header--nav--ul li.login--li a {
  width: 100%;
}
header .header--nav .header--nav--ul li.get--started--li, header .header--nav .header--nav--ul li.login--li {
  text-align: center;
}
header .header--nav .header--nav--ul li.get--started--li.get--started--li, header .header--nav .header--nav--ul li.login--li.get--started--li {
  margin: 3rem 1.25rem 1rem 1.25rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-family: gotham-medium;
  font-weight: 600;
}
header .header--nav .header--nav--ul li.get--started--li.get--started--li a, header .header--nav .header--nav--ul li.login--li.get--started--li a {
  display: inline-block;
  padding: 14px 0 13px 0;
  width: 100%;
  font-weight: 700;
  background: #000;
  border: 2px solid #000;
  border-radius: 6px;
  color: #fff;
}
header .header--nav .header--nav--ul .dropdown {
  list-style-type: none;
  padding: 0.5rem 0 0.5rem 3.25rem;
  position: relative;
  left: -10rem;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s, max-height 0.3s, opacity 0.2s;
  visibility: hidden;
}
header .header--nav .header--nav--ul .dropdown li {
  padding: 0.5rem 0;
}
header .header--nav .header--nav--ul .dropdown.show {
  display: flex;
  flex-direction: column;
  left: 0;
  opacity: 1;
  max-height: 500px;
  transition: 0.3s, max-height 0.3s, opacity 0.6s;
  visibility: visible;
}
header .header--nav .header--nav--ul .dropdown a {
  font-weight: 400;
  display: flex;
  align-items: center;
}
header .header--nav .header--nav--ul .dropdown a .window--icon {
  stroke: #9c9c9c;
  margin-left: 8px;
}

@media screen and (min-width: 425px) {
  .click--outside.close {
    width: 100vw;
    height: 1000vh;
    background: transparent;
    position: absolute;
    z-index: 0;
    -webkit-user-select: all !important;
       -moz-user-select: all !important;
            user-select: all !important;
    pointer-events: all !important;
  }
  header button {
    z-index: 99;
  }
  header .header--nav .header--nav--ul {
    left: unset;
    right: -50rem;
    transition: 0.2s, right 0.4s;
    margin-top: unset;
    padding-top: 3.9rem;
    width: 376px;
  }
  header .header--nav .header--nav--ul.show {
    left: unset;
    right: 0;
    transition: 0.2s, right 0.3s;
  }
  header .overlay {
    height: 100vh;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 100vw;
    z-index: -999;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
  }
  header .overlay.overlay--open {
    opacity: 1;
    visibility: visible;
    background: rgba(0, 0, 0, 0.6);
    transition: 0.2s;
  }
}
@media screen and (min-width: 768px) {
  header {
    padding: 1rem 3.5rem;
    flex-wrap: nowrap;
    gap: 2rem;
  }
  header button {
    order: 2;
  }
  header .header--nav .header--nav--ul {
    width: 350px;
  }
  header .header--nav .header--nav--ul li .header--subbtn {
    padding: 8px 3.5rem;
  }
  header .header--nav .header--nav--ul li .header--subbtn::after {
    right: 3.625rem;
  }
  header .header--nav .header--nav--ul li .header--subbtn.open::after {
    right: 3.625rem;
  }
  header .header--nav .header--nav--ul li.pricing--li {
    padding-left: 2.25rem;
  }
  header .header--nav .header--nav--ul li.get--started--li {
    margin: 3rem 3.5rem 1rem 3.5rem !important;
  }
  header .header--nav .header--nav--ul .dropdown {
    padding: 0.5rem 0 0.5rem 5.25rem;
  }
  header .header--nav .nav768-1280--ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-family: gotham-book-web;
  }
  header .header--nav .nav768-1280--ul .get--started--li2 {
    margin-left: auto;
  }
  header .header--nav .nav768-1280--ul .get--started--li2 a {
    font-size: 0.875rem;
    font-family: gotham-medium-web;
  }
  header .header--nav .nav768-1280--ul a {
    text-decoration: none;
    color: #0a0c0f;
    font-weight: 600;
  }
}
@media screen and (min-width: 1024px) {
  header button {
    cursor: pointer;
  }
  header .header--nav .header--nav--ul li .header--subbtn {
    cursor: pointer;
  }
  header .header--nav .header--nav--ul li .header--subbtn:hover {
    color: #666;
  }
  header .header--nav .header--nav--ul li a {
    transition: 0.2s;
  }
  header .header--nav .header--nav--ul li a:hover {
    color: #666;
    transition: 0.2s;
  }
  header .header--nav .header--nav--ul li.get--started--li a:hover {
    transform: translateY(-4px);
  }
  header .header--nav .nav768-1280--ul a {
    transition: 0.2s;
  }
  header .header--nav .nav768-1280--ul a:hover {
    color: #666;
    transition: 0.2s;
  }
}
@media screen and (min-width: 1280px) {
  header {
    padding: 1rem 4.5rem;
    justify-content: space-between;
  }
  header .header--logo {
    min-width: 106px;
    height: 32px;
  }
  header button {
    display: none;
  }
  header .header--nav .header--nav--ul {
    position: unset;
    opacity: unset;
    visibility: unset;
    width: unset;
    padding: unset;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
  header .header--nav .header--nav--ul li {
    padding: unset;
    margin: unset;
  }
  header .header--nav .header--nav--ul li.get--started--li, header .header--nav .header--nav--ul li.pricing--li, header .header--nav .header--nav--ul li.login--li {
    margin: unset !important;
    padding: unset;
  }
  header .header--nav .header--nav--ul li.get--started--li.login--li, header .header--nav .header--nav--ul li.pricing--li.login--li, header .header--nav .header--nav--ul li.login--li.login--li {
    order: 3;
  }
  header .header--nav .header--nav--ul li.get--started--li.get--started--li, header .header--nav .header--nav--ul li.pricing--li.get--started--li, header .header--nav .header--nav--ul li.login--li.get--started--li {
    order: 4;
    line-height: unset;
  }
  header .header--nav .header--nav--ul li.get--started--li.get--started--li a, header .header--nav .header--nav--ul li.pricing--li.get--started--li a, header .header--nav .header--nav--ul li.login--li.get--started--li a {
    padding: 6px 14px !important;
    font-size: 0.875rem;
    font-family: gotham-medium-web;
    font-weight: 500;
  }
  header .header--nav .header--nav--ul li:nth-child(4) {
    margin-left: auto;
  }
  header .header--nav .header--nav--ul li a {
    margin: unset;
    padding: unset;
    padding-left: unset !important;
  }
}
@media screen and (min-width: 1600px) {
  header {
    max-width: 1600px;
    margin: auto;
  }
}
.hero--section {
  padding: 3rem 1.25rem;
  text-align: center;
}
.hero--section .hero--heading {
  font-size: calc(40px + 35 * (100vw - 320px) / 279);
  font-family: Volkhov, sans-serif;
  font-weight: 400;
  color: #333;
  padding-bottom: 1rem;
}
.hero--section .hero--description {
  font-size: calc(16px + 14 * (100vw - 320px) / 279);
  font-family: gotham-book-web;
  line-height: 1.55;
  color: #000;
  padding-bottom: 1.5rem;
}
.hero--section .hero--link {
  display: inline-block;
  font-size: calc(16px + 14 * (100vw - 320px) / 279);
  font-family: gotham-medium-web;
  color: rgb(0, 0, 0);
  background: rgb(250, 224, 83);
  border-radius: 20px;
  border: 2px solid #000;
  text-decoration: none;
  padding: 15px;
  width: 100%;
  margin-bottom: 1rem;
}
.hero--section .hero--small {
  font-family: gotham-book-web;
  font-size: calc(14px + 12 * (100vw - 320px) / 279);
  color: #666;
  padding-bottom: 1.5rem;
}
.hero--section .hero--ratings--container {
  padding-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.hero--section .hero--ratings--container .hero--rating:nth-of-type(3) {
  display: none;
}
.hero--section .hero--ratings--container .hero--rating:nth-of-type(4) .reviewer {
  width: 68px;
}
.hero--section .hero--ratings--container .hero--rating .reviewer {
  width: 97px;
  height: 24px;
  margin-bottom: 0.5rem;
}
.hero--section .hero--ratings--container .hero--rating .reviewer--opinion {
  font-size: calc(14px + 12 * (100vw - 320px) / 279);
  font-family: gotham-book-web;
  color: #666;
}

@media screen and (min-width: 500px) {
  .hero--section .hero--ratings--container {
    gap: 4rem;
  }
  .hero--section .hero--ratings--container .hero--rating:nth-of-type(4) .reviewer {
    width: 140px;
    height: auto;
  }
  .hero--section .hero--ratings--container .hero--rating .reviewer {
    width: 180px;
    height: 44px;
  }
}
@media screen and (min-width: 600px) {
  .hero--section {
    padding: 4rem 3.5rem;
  }
  .hero--section .hero--heading {
    font-size: calc(56px + 39 * (100vw - 600px) / 423);
  }
  .hero--section .hero--description {
    font-size: calc(16px + 11 * (100vw - 600px) / 423);
  }
  .hero--section .hero--link {
    font-size: calc(16px + 11 * (100vw - 600px) / 423);
    width: 350px;
  }
  .hero--section .hero--small {
    font-size: calc(14px + 10 * (100vw - 600px) / 423);
  }
  .hero--section .hero--illustration {
    width: 90%;
  }
  .hero--section .hero--ratings--container {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  .hero--section .hero--ratings--container .hero--rating {
    width: 25%;
    height: 90px;
  }
  .hero--section .hero--ratings--container .hero--rating:nth-of-type(4), .hero--section .hero--ratings--container .hero--rating:nth-of-type(3) {
    display: unset;
  }
  .hero--section .hero--ratings--container .hero--rating:nth-of-type(4) .reviewer, .hero--section .hero--ratings--container .hero--rating:nth-of-type(3) .reviewer {
    width: 75px;
  }
  .hero--section .hero--ratings--container .hero--rating .reviewer {
    width: 100px;
    height: auto;
  }
  .hero--section .hero--ratings--container .hero--rating .reviewer--opinion {
    font-size: calc(14px + 10 * (100vw - 600px) / 423);
  }
}
@media screen and (min-width: 1024px) {
  .hero--section {
    padding: 5rem 3.5rem;
  }
  .hero--section .hero--heading {
    font-size: calc(15px + 49 * (100vw - 320px) / 1046);
    max-width: 900px;
    color: #000;
    margin: auto;
  }
  .hero--section .hero--description {
    font-size: calc(4px + 12 * (100vw - 320px) / 1046);
    max-width: 600px;
    margin: auto;
  }
  .hero--section .hero--link {
    font-size: calc(4px + 12 * (100vw - 320px) / 1046);
    background: #068854;
    color: rgb(255, 255, 255);
    width: 250px;
    transition: 0.2s;
  }
  .hero--section .hero--link:hover {
    background: rgb(6, 148, 91);
    color: rgb(254, 251, 251);
    transition: 0.2s;
  }
  .hero--section .hero--small {
    font-size: calc(3px + 11 * (100vw - 320px) / 1046);
  }
  .hero--section .hero--illustration {
    width: 50%;
    margin-bottom: 2rem;
  }
  .hero--section .hero--ratings--container .hero--rating .reviewer--opinion {
    font-size: calc(3px + 11 * (100vw - 320px) / 1046);
  }
}
@media screen and (min-width: 1280px) {
  .hero--section {
    padding: 5rem 4.5rem;
  }
}
@media screen and (min-width: 1366px) {
  .hero--section .hero--heading {
    font-size: 4rem;
    margin-top: 1rem;
  }
  .hero--section .hero--description {
    font-size: 1rem;
  }
  .hero--section .hero--link {
    font-size: 1rem;
    width: 300px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1rem auto;
  }
  .hero--section .hero--small {
    font-size: 0.875rem;
  }
  .hero--section .hero--ratings--container .hero--rating .reviewer--opinion {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1600px) {
  .hero--section {
    max-width: 1600px;
    margin: auto;
  }
}
.content--container {
  padding: 1.75rem 1.25rem;
}
.content--container:nth-of-type(3) .text--illustration--container .content--text--container .content--link {
  background: rgb(132, 243, 183);
}
.content--container:nth-of-type(3) .content--testimonial--container {
  background: rgb(132, 243, 183);
}
.content--container:nth-of-type(4) .text--illustration--container .content--text--container .content--link {
  background: #3F65FD;
  color: #fff;
}
.content--container:nth-of-type(4) .content--testimonial--container {
  background: #3F65FD;
  color: #fff;
}
.content--container .text--illustration--container .content--text--container .content--heading {
  font-size: calc(32px + 28 * (100vw - 320px) / 279);
  font-family: Volkhov, sans-serif;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.content--container .text--illustration--container .content--text--container .content--description {
  font-size: calc(16px + 14 * (100vw - 320px) / 279);
  font-family: gotham-book-web;
}
.content--container .text--illustration--container .content--text--container .content--link {
  font-size: calc(16px + 14 * (100vw - 320px) / 279);
  font-family: gotham-medium-web;
  color: rgb(0, 0, 0);
  background: rgb(255, 198, 153);
  border-radius: 20px;
  border: 2px solid #000;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 100%;
  margin: 2rem 0;
}
.content--container .text--illustration--container .content--text--container .content--features--container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.content--container .text--illustration--container .content--text--container .content--features--container .content--feature {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.content--container .text--illustration--container .content--text--container .content--features--container .content--feature .content--feature--img {
  width: 88px;
  margin-bottom: 0.5rem;
}
.content--container .text--illustration--container .content--text--container .content--features--container .content--feature .content--feature--heading {
  font-size: calc(16px + 14 * (100vw - 320px) / 279);
  font-family: gotham-medium-web;
  font-weight: 500;
}
.content--container .text--illustration--container .content--text--container .content--features--container .content--feature .content--feature--desc {
  font-size: calc(14px + 12 * (100vw - 320px) / 279);
  font-family: gotham-book-web;
}
.content--container .text--illustration--container .content--illustration {
  margin: 2.5rem 0;
}
.content--container .content--testimonial--container {
  padding: 2rem 1rem;
  border: 2px solid #000;
  border-radius: 20px;
  background: rgb(255, 198, 153);
}
.content--container .content--testimonial--container .content--testimonial--desc {
  font-size: calc(16px + 14 * (100vw - 320px) / 279);
  font-family: gotham-book-web;
}
.content--container .content--testimonial--container .avatar--reviewer--container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.content--container .content--testimonial--container .avatar--reviewer--container .testimonial--avatar--container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.content--container .content--testimonial--container .avatar--reviewer--container .testimonial--avatar--container .testimonial--avatar {
  width: 40px;
  height: 40px;
}
.content--container .content--testimonial--container .avatar--reviewer--container .testimonial--avatar--container .testimonial--name {
  font-size: calc(14px + 12 * (100vw - 320px) / 279);
  font-family: gotham-medium-web;
  font-weight: 500;
}
.content--container .content--testimonial--container .avatar--reviewer--container .testimonial--img--container {
  display: none;
}

@media screen and (min-width: 600px) {
  .content--container .text--illustration--container .content--text--container .content--heading {
    font-size: calc(40px + 28 * (100vw - 600px) / 423);
  }
  .content--container .text--illustration--container .content--text--container .content--description {
    font-size: calc(16px + 11 * (100vw - 600px) / 423);
  }
  .content--container .text--illustration--container .content--text--container .content--link {
    font-size: calc(16px + 11 * (100vw - 600px) / 423);
  }
  .content--container .text--illustration--container .content--text--container .content--features--container {
    flex-direction: row;
    justify-content: space-between;
  }
  .content--container .text--illustration--container .content--text--container .content--features--container .content--feature {
    width: 50%;
  }
  .content--container .text--illustration--container .content--text--container .content--features--container .content--feature .content--feature--heading {
    font-size: calc(16px + 11 * (100vw - 600px) / 423);
  }
  .content--container .text--illustration--container .content--text--container .content--features--container .content--feature .content--feature--desc {
    font-size: calc(14px + 10 * (100vw - 600px) / 423);
  }
  .content--container .content--testimonial--container {
    padding: 2rem;
  }
  .content--container .content--testimonial--container .content--testimonial--desc {
    font-size: calc(16px + 11 * (100vw - 600px) / 423);
  }
  .content--container .content--testimonial--container .avatar--reviewer--container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: unset;
  }
  .content--container .content--testimonial--container .avatar--reviewer--container .testimonial--avatar--container .testimonial--name {
    font-size: calc(14px + 10 * (100vw - 600px) / 423);
  }
  .content--container .content--testimonial--container .avatar--reviewer--container .testimonial--img--container {
    display: unset;
  }
  .content--container .content--testimonial--container .avatar--reviewer--container .testimonial--img--container .testimonial--reviewer {
    width: 95px;
  }
  .content--container .content--testimonial--container .avatar--reviewer--container .testimonial--img--container .testimonial--stars {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .content--container {
    padding: 2rem 3.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .content--container {
    padding: 4rem 3.5rem;
  }
  .content--container .text--illustration--container .content--text--container .content--link {
    transition: 0.2s;
  }
  .content--container .text--illustration--container .content--text--container .content--link:hover {
    background: rgb(245, 181, 131);
    transition: 0.2s;
  }
  .content--container:nth-of-type(3) .text--illustration--container .content--text--container .content--link {
    background: rgb(132, 243, 183);
    transition: 0.2s;
  }
  .content--container:nth-of-type(3) .text--illustration--container .content--text--container .content--link:hover {
    background: rgb(91, 235, 158);
    transition: 0.2s;
  }
  .content--container:nth-of-type(3) .content--testimonial--container {
    background: rgb(132, 243, 183);
  }
  .content--container:nth-of-type(4) .text--illustration--container .content--text--container .content--link {
    background: #3F65FD;
    color: #fff;
    transition: 0.2s;
  }
  .content--container:nth-of-type(4) .text--illustration--container .content--text--container .content--link:hover {
    background: rgb(51, 90, 248);
    transition: 0.2s;
  }
  .content--container:nth-of-type(4) .content--testimonial--container {
    background: #3F65FD;
    color: #fff;
  }
  .content--container .text--illustration--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .content--container .text--illustration--container .content--text--container {
    width: 50%;
  }
  .content--container .text--illustration--container .content--text--container .content--heading {
    font-size: 3rem;
  }
  .content--container .text--illustration--container .content--text--container .content--description {
    font-size: 1rem;
  }
  .content--container .text--illustration--container .content--text--container .content--link {
    font-size: 1rem;
  }
  .content--container .text--illustration--container .content--text--container .content--features--container {
    flex-direction: row;
    justify-content: space-between;
  }
  .content--container .text--illustration--container .content--text--container .content--features--container .content--feature {
    width: 50%;
  }
  .content--container .text--illustration--container .content--text--container .content--features--container .content--feature .content--feature--heading {
    font-size: 1.125rem;
  }
  .content--container .text--illustration--container .content--text--container .content--features--container .content--feature .content--feature--desc {
    font-size: 1rem;
  }
  .content--container .text--illustration--container .content--illustration {
    width: 50%;
    margin: unset;
  }
  .content--container .content--testimonial--container {
    margin-top: 2rem;
  }
  .content--container .content--testimonial--container .content--testimonial--desc {
    font-size: 1rem;
  }
  .content--container .content--testimonial--container .avatar--reviewer--container .testimonial--avatar--container .testimonial--name {
    font-size: 0.875rem;
  }
  .content--container .content--testimonial--container .avatar--reviewer--container .testimonial--img--container {
    display: flex;
    align-items: baseline;
    gap: 1rem;
  }
  .content--container .content--testimonial--container .avatar--reviewer--container .testimonial--img--container .testimonial--reviewer {
    width: 95px;
  }
  .content--container .content--testimonial--container .avatar--reviewer--container .testimonial--img--container .testimonial--stars {
    display: unset;
    width: 110px;
  }
}
@media screen and (min-width: 1280px) {
  .content--container {
    padding: 4.5rem 4.5rem;
  }
}
@media screen and (min-width: 1366px) {
  .content--container {
    padding: 5rem 4.5rem;
  }
  .content--container .text--illustration--container .content--text--container {
    width: 50%;
  }
  .content--container .text--illustration--container .content--text--container .content--heading {
    font-size: 4rem;
  }
  .content--container .text--illustration--container .content--text--container .content--description {
    font-size: 1.125rem;
  }
  .content--container .text--illustration--container .content--text--container .content--link {
    font-size: 1.125rem;
  }
  .content--container .text--illustration--container .content--text--container .content--features--container .content--feature {
    width: 50%;
  }
  .content--container .text--illustration--container .content--text--container .content--features--container .content--feature .content--feature--heading {
    font-size: 1.25rem;
  }
  .content--container .text--illustration--container .content--text--container .content--features--container .content--feature .content--feature--desc {
    font-size: 1.125rem;
  }
  .content--container .text--illustration--container .content--illustration {
    width: 50%;
    margin: unset;
  }
  .content--container .content--testimonial--container {
    margin-top: 1rem;
  }
  .content--container .content--testimonial--container .content--testimonial--desc {
    font-size: 1.125rem;
  }
  .content--container .content--testimonial--container .avatar--reviewer--container .testimonial--avatar--container .testimonial--name {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1600px) {
  .content--container {
    padding: 5.5rem 4.5rem;
    max-width: 1600px;
    margin: auto;
  }
}
.world--section {
  margin: 3rem 1.25rem;
  padding: 2rem 1rem;
  border: 2px solid #000;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}
.world--section .shape {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.world--section .shape:nth-of-type(1) {
  width: 50px;
  right: 1.5rem;
  top: -1.5rem;
  z-index: 0;
}
.world--section .shape:nth-of-type(2) {
  width: 35px;
  bottom: -1.5rem;
  right: 3rem;
}
.world--section .shape:nth-of-type(3) {
  width: 35px;
  right: 8rem;
  top: 5rem;
}
.world--section .text--container .world--heading {
  font-size: calc(32px + 28 * (100vw - 320px) / 279);
  font-family: Volkhov, sans-serif;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.world--section .text--container .world--desc {
  font-size: calc(16px + 14 * (100vw - 320px) / 279);
  font-family: gotham-book-web;
}
.world--section .numbers--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  background: url("../images/illustrations/atlas.png");
}
.world--section .numbers--container .number--subcontainer .number {
  font-size: 4rem;
  font-family: gotham-medium-web, sans-serif;
  font-weight: 400;
}
.world--section .numbers--container .number--subcontainer .small-text {
  font-size: calc(14px + 12 * (100vw - 320px) / 279);
  font-family: gotham-book-web;
}

@media screen and (min-width: 600px) {
  .world--section {
    padding: 2rem;
  }
  .world--section .shape:nth-of-type(1) {
    right: 1.5rem;
    top: -1.5rem;
    z-index: 0;
  }
  .world--section .shape:nth-of-type(2) {
    bottom: -1.5rem;
    right: 9rem;
  }
  .world--section .shape:nth-of-type(3) {
    left: 8rem;
    top: 8rem;
    z-index: -1;
  }
  .world--section .text--container .world--heading {
    font-size: calc(40px + 28 * (100vw - 600px) / 423);
  }
  .world--section .text--container .world--desc {
    font-size: calc(14px + 10 * (100vw - 600px) / 423);
  }
  .world--section .numbers--container {
    flex-direction: row;
    justify-content: space-between;
  }
  .world--section .numbers--container .number--subcontainer {
    width: 33%;
  }
  .world--section .numbers--container .number--subcontainer .small-text {
    font-size: calc(14px + 10 * (100vw - 600px) / 423);
  }
}
@media screen and (min-width: 768px) {
  .world--section {
    margin: 3rem 3.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .world--section {
    margin: 4rem 3.5rem;
    padding: 3rem 2rem;
    flex-direction: row;
  }
  .world--section .shape {
    position: absolute;
  }
  .world--section .shape:nth-of-type(1) {
    width: 50px;
    right: 3.5rem;
    top: -1.5rem;
    z-index: 0;
  }
  .world--section .shape:nth-of-type(2) {
    width: 35px;
    bottom: -1.5rem;
    right: 10rem;
  }
  .world--section .shape:nth-of-type(3) {
    width: 35px;
    left: 25rem;
    top: 3rem;
  }
  .world--section .text--container {
    width: 35%;
  }
  .world--section .text--container .world--heading {
    font-size: 3rem;
  }
  .world--section .text--container .world--desc {
    font-size: 1rem;
  }
  .world--section .numbers--container {
    flex-grow: 1;
  }
  .world--section .numbers--container .number--subcontainer .number {
    font-size: 5rem;
  }
  .world--section .numbers--container .number--subcontainer .small-text {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .world--section {
    margin: 4rem 4.5rem;
    padding: 3.5rem 2rem;
  }
}
@media screen and (min-width: 1366px) {
  .world--section {
    margin: 4.5rem;
    padding: 4rem 2rem;
  }
  .world--section .text--container {
    width: 30%;
  }
  .world--section .numbers--container .number--subcontainer .number {
    font-size: 6rem;
  }
  .world--section .numbers--container .number--subcontainer .small-text {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1600px) {
  .big-width {
    max-width: 1600px;
    margin: auto;
  }
}
.link--component--container {
  padding: 1.75rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.link--component--container .link--main {
  border: 2px solid #000;
  border-radius: 20px;
  padding: 1.5rem;
  text-decoration: none;
  color: #000;
}
.link--component--container .link--main .link--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.link--component--container .link--main .link--container .link--img {
  width: 64px;
  margin-bottom: 2rem;
}
.link--component--container .link--main .link--container .link--heading {
  font-family: gotham-medium-web;
  font-weight: 400;
  margin-bottom: 0.5rem;
  font-size: calc(16px + 14 * (100vw - 320px) / 279);
}
.link--component--container .link--main .link--container .link--desc {
  font-family: gotham-book-web;
  margin-bottom: 5rem;
  font-size: calc(14px + 12 * (100vw - 320px) / 279);
}
.link--component--container .link--main .link--container .link--sub {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: calc(18px + 16 * (100vw - 320px) / 279);
}

@media screen and (min-width: 600px) {
  .link--component--container .link--main {
    padding: 1.75rem;
  }
  .link--component--container .link--main .link--container .link--heading {
    font-size: calc(24px + 17 * (100vw - 600px) / 423);
  }
  .link--component--container .link--main .link--container .link--desc {
    font-size: calc(16px + 11 * (100vw - 600px) / 423);
  }
  .link--component--container .link--main .link--container .link--sub {
    font-size: calc(18px + 13 * (100vw - 600px) / 423);
  }
}
@media screen and (min-width: 768px) {
  .link--component--container {
    padding: 2rem 3.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .link--component--container {
    flex-direction: row;
    gap: unset;
    justify-content: space-between;
  }
  .link--component--container .link--main {
    padding: 2rem;
    width: 30%;
  }
  .link--component--container .link--main .link--container .link--heading {
    font-size: calc(6px + 18 * (100vw - 320px) / 1046);
  }
  .link--component--container .link--main .link--container .link--desc {
    font-size: calc(12px + 4 * (100vw - 1024px) / 341);
    margin-bottom: unset;
    height: 50px;
  }
  .link--component--container .link--main .link--container .link--sub {
    font-size: calc(4px + 14 * (100vw - 320px) / 1046);
    margin-top: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .link--component--container {
    padding: 3rem 4.5rem;
  }
  .link--component--container .link--main .link--container .link--sub {
    margin-top: 4rem;
  }
}
@media screen and (min-width: 1366px) {
  .link--component--container .link--main .link--container .link--heading {
    font-size: 1.5rem;
  }
  .link--component--container .link--main .link--container .link--desc {
    font-size: 1rem;
  }
  .link--component--container .link--main .link--container .link--sub {
    font-size: 1.125rem;
  }
}
@media screen and (min-width: 1600px) {
  .link--component--container {
    max-width: 1600px;
    margin: auto;
  }
}
.cta--container {
  margin: 1.75rem 0 1rem 0;
  padding: 1.75rem 1.25rem;
  text-align: center;
}
.cta--container .shape {
  display: none;
}
.cta--container .cta--heading {
  font-size: calc(32px + 28 * (100vw - 320px) / 279);
  font-family: Volkhov, sans-serif;
  font-weight: 400;
}
.cta--container .cta--link {
  color: #000;
  font-size: calc(16px + 14 * (100vw - 320px) / 279);
  font-family: gotham-medium-web;
  background: rgb(250, 224, 83);
  border-radius: 20px;
  border: 2px solid #000;
  height: 56px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  margin: 3rem 0 1rem 0;
}
.cta--container .cta--p {
  color: #595959;
  font-size: calc(14px + 12 * (100vw - 320px) / 279);
  font-family: gotham-book-web;
}

@media screen and (min-width: 600px) {
  .cta--container .cta--heading {
    font-size: calc(40px + 28 * (100vw - 600px) / 423);
  }
  .cta--container .cta--link {
    font-size: calc(16px + 11 * (100vw - 600px) / 423);
    width: 340px;
    margin: 2rem 0 1rem 0;
  }
  .cta--container .cta--p {
    font-size: calc(14px + 10 * (100vw - 600px) / 423);
  }
}
@media screen and (min-width: 768px) {
  .cta--container {
    padding: 1.75rem 3.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .cta--container {
    padding: 3.5rem;
    margin: 2rem 3.5rem;
    border: 2px solid #000;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: unset;
    position: relative;
  }
  .cta--container .shape {
    display: unset;
    position: absolute;
    width: 52px;
    right: 1.75rem;
    bottom: 1.5rem;
  }
  .cta--container .shape:nth-of-type(2) {
    bottom: unset;
    right: -1.25rem;
    margin-top: -1.25rem;
    width: 73px;
    height: 42px;
  }
  .cta--container .cta--subcontainer {
    text-align: center;
  }
  .cta--container .cta--heading {
    font-size: calc(9px + 31 * (100vw - 320px) / 1046);
    width: 50%;
  }
  .cta--container .cta--link {
    font-size: calc(4px + 12 * (100vw - 320px) / 1046);
    height: 48px;
    margin: 0 0 1rem 0;
  }
  .cta--container .cta--p {
    font-size: calc(3px + 11 * (100vw - 320px) / 1046);
  }
}
@media screen and (min-width: 1280px) {
  .cta--container {
    margin: 3.5rem 4.5rem;
  }
}
@media screen and (min-width: 1366px) {
  .cta--container .cta--heading {
    font-size: 2.5rem;
  }
  .cta--container .cta--link {
    font-size: 1rem;
    height: 64px;
  }
  .cta--container .cta--p {
    font-size: 0.875rem;
  }
}
footer {
  padding: 4rem 1.25rem 2rem 1.25rem;
  background: #000;
}
footer .footer--logo--link {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
}
footer .footer--logo {
  height: 34px;
  width: auto;
}
footer .footer--nav--ul {
  list-style-type: none;
  margin-top: 1rem;
}
footer .footer--nav--ul li {
  padding: 0.5rem 0;
}
footer .footer--nav--ul li button, footer .footer--nav--ul li span, footer .footer--nav--ul li h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #979797;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: gotham-medium-web;
  font-weight: 500;
  background: none;
  border: none;
  text-align: start;
}
footer .footer--nav--ul li button img, footer .footer--nav--ul li span img, footer .footer--nav--ul li h3 img {
  transition: 0.2s;
}
footer .footer--nav--ul li button img.rotate--img, footer .footer--nav--ul li span img.rotate--img, footer .footer--nav--ul li h3 img.rotate--img {
  transform: rotate(90deg);
  transition: 0.2s;
}
footer .footer--nav--ul li ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  position: relative;
  margin-top: 0.75rem;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  transition: 0.3s, max-height 0.3s, opacity 0.2s;
}
footer .footer--nav--ul li ul.show {
  opacity: 1;
  visibility: visible;
  max-height: 500px;
  transition: 0.3s, max-height 0.3s, opacity 0.4s;
}
footer .footer--nav--ul li ul a {
  font-family: gotham-book-web;
  font-size: 0.875rem;
  color: #fff;
  text-decoration: none;
}
footer .search--socials--container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
footer .search--socials--container form {
  display: flex;
  position: relative;
}
footer .search--socials--container form .search--button {
  width: 18px;
  height: 18px;
  border: none;
  background: none;
  position: absolute;
  right: 0.625rem;
  top: 0.625rem;
  cursor: pointer;
  z-index: 10;
}
footer .search--socials--container form input {
  width: 100%;
  border: 1px solid #cacaca;
  font-size: 14px;
  padding: 8px 16px;
  line-height: 20px;
  border-radius: 3px;
  background: #000;
  color: #fff;
}
footer .search--socials--container .socials--download--container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .search--socials--container .socials--download--container .socials--ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
footer .search--socials--container .socials--download--container .download--container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
footer .search--socials--container .socials--download--container .download--container img {
  width: auto;
}
footer .language--copyright--ul {
  display: flex;
  flex-direction: column;
}
footer .language--copyright--ul .footer--separator {
  border-top: 1px solid #2d3a48;
  margin-top: 2rem;
}
footer .language--copyright--ul li {
  padding: 0.5rem 0;
}
footer .language--copyright--ul li a {
  text-decoration: none;
  color: #fff;
  font-family: gotham-book-web;
  font-size: 0.875rem;
}
footer .language--copyright--ul li:nth-of-type(1) {
  order: 1;
  margin: 2rem auto 0 auto;
}
footer .language--copyright--ul li:nth-of-type(1) .languages--button {
  border: none;
  background: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1.125rem;
  font-family: gotham-medium-web;
}

@media screen and (min-width: 576px) {
  footer .search--socials--container .socials--download--container {
    align-items: flex-start;
  }
  footer .search--socials--container .socials--download--container .socials--ul {
    justify-content: unset;
    gap: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  footer {
    padding: 4rem 3.5rem 2rem 3.5rem;
  }
  footer .footer--logo {
    min-height: 34px;
    min-width: 114.03px;
  }
  footer .footer--nav--ul {
    margin-top: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
  }
  footer .footer--nav--ul li {
    padding: unset;
    max-width: 20%;
  }
  footer .footer--nav--ul li button img, footer .footer--nav--ul li span img {
    display: none;
  }
  footer .footer--nav--ul li ul {
    max-height: unset;
    opacity: unset;
    visibility: unset;
  }
  footer .footer--nav--ul li ul li {
    padding: 0.5rem 0;
  }
  footer .logo--nav--container {
    display: flex;
    gap: 2rem;
  }
  footer .search--socials--container {
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
  }
  footer .search--socials--container .socials--download--container {
    align-items: flex-start;
  }
  footer .search--socials--container .socials--download--container .socials--ul {
    justify-content: unset;
    gap: 1.5rem;
  }
  footer .search--socials--container .socials--download--container .download--container a {
    display: flex;
  }
  footer .language--copyright--ul {
    flex-direction: row-reverse;
    gap: 1rem;
  }
  footer .language--copyright--ul .footer--separator:nth-of-type(1) {
    display: none;
  }
  footer .language--copyright--ul p {
    color: #919eaa;
    font-family: gotham-book-web;
    font-size: 0.875rem;
  }
  footer .language--copyright--ul li:nth-of-type(1) {
    margin: unset;
    margin-right: auto;
  }
  footer .tablet {
    border-top: 1px solid #2d3a48;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  footer .footer--nav--ul {
    justify-content: unset;
  }
  footer .footer--nav--ul li {
    max-width: 16%;
  }
  footer a {
    transition: 0.2s;
  }
  footer a:hover {
    color: #919eab !important;
    transition: 0.2s;
  }
  footer a.languages--button:hover {
    color: #fff !important;
  }
}
@media screen and (min-width: 1280px) {
  footer {
    padding: 4rem 4.5rem 2rem 4.5rem;
  }
  footer .footer--nav--ul {
    justify-content: flex-start;
    gap: 2rem;
  }
  footer .footer--nav--ul li {
    max-width: 235px;
    min-width: 200px;
    width: 200px;
  }
}
@media screen and (min-width: 1600px) {
  .big-width-footer {
    background: #000;
  }
  .big-width-footer footer {
    max-width: 1600px;
    margin: auto;
  }
}
.languages--container {
  max-height: 0px;
  overflow: hidden;
  background-color: #f1f1f1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1.25rem;
}
.languages--container div {
  padding: 1.25rem 0;
  width: 50%;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}
.languages--container.opened {
  max-height: 1200px;
}
.languages--container a {
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.languages--container a .flag {
  display: inline-block;
  min-width: 22px;
  min-height: 22px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: url("../images/flags/flags.png");
  background-size: auto 100%;
}
.languages--container a .flag.argentina {
  background-position: -286px 0;
}
.languages--container a .flag.finland {
  background-position: -858px 0;
}
.languages--container a .flag.japan {
  background-position: -638px 0;
}
.languages--container a .flag.peru {
  background-position: -374px 0;
}
.languages--container a .flag.sweden {
  background-position: -836px 0;
}
.languages--container a .flag.brazil {
  background-position: -88px 0;
}
.languages--container a .flag.france {
  background-position: -44px 0;
}
.languages--container a .flag.korea {
  background-position: -308px 0;
}
.languages--container a .flag.philippines {
  background-position: -572px 0;
}
.languages--container a .flag.thailand {
  background-position: -506px 0;
}
.languages--container a .flag.bulgaria {
  background-position: -770px 0;
}
.languages--container a .flag.germany {
  background-position: -22px 0;
}
.languages--container a .flag.latvia {
  background-position: -902px 0;
}
.languages--container a .flag.poland {
  background-position: -616px 0;
}
.languages--container a .flag.turkey {
  background-position: -418px 0;
}
.languages--container a .flag.china {
  background-position: -682px 0;
}
.languages--container a .flag.greece {
  background-position: -814px 0;
}
.languages--container a .flag.lithuania {
  background-position: -924px 0;
}
.languages--container a .flag.portugal {
  background-position: -176px 0;
}
.languages--container a .flag.usa {
  background-position: -242px 0;
}
.languages--container a .flag.colombia {
  background-position: -462px 0;
}
.languages--container a .flag.hungary {
  background-position: -66px 0;
}
.languages--container a .flag.mexico {
  background-position: -352px 0;
}
.languages--container a .flag.romania {
  background-position: -198px 0;
}
.languages--container a .flag.venezuela {
  background-position: -440px 0;
}
.languages--container a .flag.czech {
  background-position: -330px 0;
}
.languages--container a .flag.india {
  background-position: -726px 0;
}
.languages--container a .flag.netherlands {
  background-position: -132px 0;
}
.languages--container a .flag.slovakia {
  background-position: -946px 0;
}
.languages--container a .flag.uae {
  background-position: -880px 0;
}
.languages--container a .flag.denmark {
  background-position: -792px 0;
}
.languages--container a .flag.indonesia {
  background-position: -484px 0;
}
.languages--container a .flag.norway {
  background-position: -154px 0;
}
.languages--container a .flag.spain {
  background-position: -264px 0;
}
.languages--container a .flag.egypt {
  background-position: -748px 0;
}
.languages--container a .flag.italy {
  background-position: -110px 0;
}

@media screen and (min-width: 600px) {
  .languages--container div {
    width: 33.33333%;
  }
}
@media screen and (min-width: 768px) {
  .languages--container {
    padding: 0 3.5rem;
  }
  .languages--container div {
    width: 25%;
  }
}
@media screen and (min-width: 1024px) {
  .languages--container {
    justify-content: flex-start;
  }
  .languages--container div {
    width: 20%;
  }
  .languages--container div a {
    transition: 0.2s;
  }
  .languages--container div a:hover {
    color: #369fe0;
    transition: 0.2s;
  }
}
@media screen and (min-width: 1280px) {
  .languages--container {
    padding: 0 4.5rem;
  }
}
@media screen and (min-width: 1600px) {
  .languages--big--container {
    background: #f1f1f1;
  }
  .languages--container {
    max-width: 1600px;
    margin: auto;
  }
}/*# sourceMappingURL=general.css.map */