@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100%;
  font-family: Open Sans, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  padding: 1rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}

header .header--logo--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header--logo {
  width: 98px;
  height: 30px;
}

header button {
  width: 24px;
  height: 24px;
  position: relative;
  background: none;
  border: none;
}

header button .button--inner--div {
  width: 24px;
  height: 2px;
  background: #0a0c0f;
  border-radius: 4px;
  -webkit-transition: .1s;
  transition: .1s;
}

header button .button--inner--div::before, header button .button--inner--div::after {
  content: "";
  width: 24px;
  height: 2px;
  background: #0a0c0f;
  border-radius: 4px;
  position: absolute;
  -webkit-transition: .1s;
  transition: .1s;
  left: 0;
}

header button .button--inner--div::before {
  top: .175rem;
}

header button .button--inner--div::after {
  bottom: .175rem;
}

header button .button--inner--div.open {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
          transform: translate3d(0, 0, 0) rotate(45deg);
  -webkit-transition: .1s;
  transition: .1s;
}

header button .button--inner--div.open::before {
  opacity: 0;
  -webkit-transition: .1s;
  transition: .1s;
}

header button .button--inner--div.open::after {
  -webkit-transform: translate3d(0, 3px, 0) rotate(-90deg);
          transform: translate3d(0, 3px, 0) rotate(-90deg);
  -webkit-transition: .1s;
  transition: .1s;
}

header .header--nav {
  width: 100%;
}

header .header--nav .header--nav--ul {
  background: #fff;
  list-style-type: none;
  padding-bottom: 3rem;
  margin-top: 3.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  left: 50rem;
  bottom: 0;
  -webkit-transition: .2s, left .4s;
  transition: .2s, left .4s;
}

header .header--nav .header--nav--ul.show {
  overflow: scroll;
  opacity: 1;
  visibility: visible;
  left: 0;
  -webkit-transition: .2s, left .3s;
  transition: .2s, left .3s;
}

header .header--nav .header--nav--ul li {
  padding: 0;
  position: relative;
}

header .header--nav .header--nav--ul li span {
  display: inline-block;
  position: relative;
  font-weight: 600;
  width: 100%;
  padding: 8px 1.25rem;
  -webkit-transition: .2s;
  transition: .2s;
}

header .header--nav .header--nav--ul li span.open {
  background: #f7f7f7;
  color: #666;
  -webkit-transition: .2s;
  transition: .2s;
}

header .header--nav .header--nav--ul li span.open::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
  right: 1.35rem;
  -webkit-transition: .2s;
  transition: .2s;
}

header .header--nav .header--nav--ul li span::after {
  content: '›';
  position: absolute;
  right: 1.35rem;
  font-size: 26px;
  top: -3px;
  -webkit-transition: .2s;
  transition: .2s;
}

header .header--nav .header--nav--ul li a {
  font-weight: 600;
  text-decoration: none;
  color: #0a0c0f;
}

header .header--nav .header--nav--ul li .pricing--link {
  padding-left: 1.25rem;
}

header .header--nav .header--nav--ul li.pricing--li, header .header--nav .header--nav--ul li.login--li {
  padding: .5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header--nav .header--nav--ul li.pricing--li a, header .header--nav .header--nav--ul li.login--li a {
  width: 100%;
}

header .header--nav .header--nav--ul li.get--started--li, header .header--nav .header--nav--ul li.login--li {
  text-align: center;
}

header .header--nav .header--nav--ul li.get--started--li.get--started--li, header .header--nav .header--nav--ul li.login--li.get--started--li {
  margin: 3rem 1.25rem 1rem 1.25rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

header .header--nav .header--nav--ul li.get--started--li.get--started--li a, header .header--nav .header--nav--ul li.login--li.get--started--li a {
  display: inline-block;
  padding: 14px 0 13px 0;
  width: 100%;
  font-weight: 700;
  background: #000;
  border: 2px solid #000;
  border-radius: 6px;
  color: #fff;
}

header .header--nav .header--nav--ul .dropdown {
  list-style-type: none;
  padding: .5rem 0 .5rem 3.25rem;
  position: relative;
  left: -10rem;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: .3s, max-height .3s, opacity .2s;
  transition: .3s, max-height .3s, opacity .2s;
  visibility: hidden;
}

header .header--nav .header--nav--ul .dropdown li {
  padding: .5rem 0;
}

header .header--nav .header--nav--ul .dropdown.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 0;
  opacity: 1;
  max-height: 500px;
  -webkit-transition: .3s, max-height .3s, opacity .6s;
  transition: .3s, max-height .3s, opacity .6s;
  visibility: visible;
}

header .header--nav .header--nav--ul .dropdown a {
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header--nav .header--nav--ul .dropdown a .window--icon {
  stroke: #9c9c9c;
  margin-left: 8px;
}

@media screen and (min-width: 425px) {
  header .header--nav .header--nav--ul {
    left: unset;
    right: -50rem;
    -webkit-transition: .2s, right .4s;
    transition: .2s, right .4s;
  }
  header .header--nav .header--nav--ul.show {
    width: 376px;
    left: unset;
    right: 0;
    -webkit-transition: .2s, right .3s;
    transition: .2s, right .3s;
  }
}
/*# sourceMappingURL=general.css.map */